.user {
  display: flex;
  padding: 40px 20px;
  width: 500px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: max-content;
  background-color: #dbd8d8;
  font-weight: 550;
  border-radius: 10px;
  &__title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    width: max-content;
  }
  &__location {
    display: flex;
    justify-content: center;
    width: max-content;
  }
  &__phoneNumber {
    display: flex;
    justify-content: center;
    width: max-content;
    flex-direction: column;
  }
}
