.sessionPlayer {
  width: 370px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #dbd8d8;
  padding: 20px;
  border-radius: 10px;
}
